body {
    /*color: #666;*/
    color: #fff;
    background-color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
}

div {
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 1000;
}

[ui-view="main"] {
    min-height: 100vh;
}
.wrapper {
    padding-top: 49px;
    padding-bottom: 0;
}

.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.container-view {
    /*overflow-y: auto !important;*/
    overflow: auto hidden;
    max-height: 100vh;

}

*, :after, :before {
    box-sizing: border-box;
}

.max-width-padding {
    max-width: 1140px;
    margin: 0 auto;
}

.main-content {
    background: 0 0;
    min-height: 75vh;
    padding: 10px;
    text-align: center;
    margin: 11px -15px 0;
}

.main-content__title-divider {
    text-align: center;
    margin-bottom: 5px;
}

.main-content__title-divider__title {
    margin-top: 5px;
    padding: 1px 8px;
    background: #0d2e3e;
    border-radius: 20px;
    color: white;
}
@media (max-width: 1200px) {
    .main-content__poster {
        padding: 2px;
        margin: 5px 5px 0;
    }

    .main-content__poster {
        display: inline-block;
        background: rgba(255, 255, 255, .06);
    }
}
@media (min-width: 780px) {
    .main-content__poster {
        padding: 2px;
        margin: 10px;
        background: rgba(255, 255, 255, .06);
    }
}

.main-content__poster__image, .watchlist__head {
    position: relative;
}
@media (min-width: 560px) {
    .main-content__poster__image, .timeline__provider-block__title .poster {
        width: 166px;
        height: 236px;
    }
}
@media (min-width: 480px) {
    .main-content__poster__image {
        width: 139px;
        height: 198px;
    }
}
@media (min-width: 375px)
{
    .main-content__poster__image {

        width: 163px;
        height: 232px;
    }
}
@media (min-width: 360px) {
    .main-content__poster__image {
        width: 156px;
        height: 222px;
    }
}
*, :after, :before {
    box-sizing: border-box;
}


.row {
    margin-left: -15px;
    margin-right: -15px;
}

.fullwidth_header {
    position: relative;
    padding: 50px 0;
    /*background-repeat: no-repeat;
    background-position: center center;*/
    background: no-repeat center center;
    background-size: cover;
}
.et_parallax_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-repeat: no-repeat;
    background-position: top center;*/
    background: no-repeat top center;
    background-size: cover;
}
.et_pb_fullwidth_header .et_pb_parallax_css {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;*/
    background: no-repeat fixed top center;
    background-size: cover;
}
.et_pb_section_parallax .et_pb_parallax_css, .et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    background-attachment: fixed;
}

.img-bg {
    background-image: url("../img/cinema-blue-salle.jpg") ;
    /*background-image: url("../img/bg_at-the-movies.jpg") ;*/
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    max-width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*----------- -------------*/
.span-outer {
    font-size: 20px;
}

.outer-p {
    margin-top: 10px;
}

.inner-p {
    margin: 2px;
}

.outer-p-2 {
    margin-top: 5px;
}

.outer-p-3 {
    margin-top: 15px;
}

.divider {
    margin: 0 8px 0 8px;
}

.divider:before {
    content: "|";
}


